@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Code', monospace;
}

body {
    height: 100vh;
    background: #41295a;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2F0743, #41295a);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2F0743, #41295a);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    display: flex;
    align-items: center;
    justify-content: center;
}


.relogio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 500px;
    background: transparent;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
}

.relogio div {
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    color: #fff;
    background: #130a1b;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .5);
    border-radius: 7px;
    letter-spacing: 3px;
}

.relogio span {
    font-weight: bolder;
    font-size: 60px;
    transition: all .5 ease;
}

.relogio span.tempo {
    font-size: 10px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .relogio {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100vh;
    }

    .relogio div {
        display: flex;
        flex-direction: column;
    }
}